page-atividades {

}

.botoes_estagio{
    list-style-type: none;
    height: 10px;
}

.botoes_estagio button{
    width: 97px;
    padding: 0%;
    height: 20px;
    float: left;
}

#btn-move{
    font-size:16px
}

.scroll-content{
    background-color: #f8f8f8;
}

#card-ativ{
    background-color: white;
    border-radius: 16px;
    margin-left: 13px;
    width: 93%;
    border: 1px solid #e0cece;
}

#btn-move{
    background-color: white;
    color: red;
    font-size: 9px;
}