page-index {

}

.titulo_index{
    text-align: center;
}

.visualizarAtv{
    color: #2f2121;
}
.card-atv{
    white-space: normal;
    border-bottom : 4px solid;
}

// ion-card-content {
//     border-bottom: 4px solid red;
//  }