<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="titulo_index">
      Matérias
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  

  <!-- <ion-item style="background-color: #efeff0"> -->
  <!-- <ion-card *ngFor="let materia of materias">
    <ion-card-content *ngIf="materia.nome_disciplina_correta" style="white-space: normal;" (click)="irParaAtividades(materia.id_disciplina_serie, id_aluno)">
        <h2>{{materia.nome_disciplina_correta}}</h2>
    </ion-card-content>
  </ion-card> -->
  <ion-list>
      <button style="white-space: normal;" ion-item *ngFor="let materia of materias" (click)="irParaAtividades(materia.id_disciplina_serie, id_aluno)">
          <h2>{{materia.nome_disciplina_correta}}</h2>
      </button>  
  </ion-list>
  <!-- </ion-item> -->
</ion-content>